.artifact-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.artifact {
  border: 2px solid white;
  padding: 10px;
  border-radius: 8px;
  background-color: #2a2a44;
  cursor: pointer;
  user-select: none;
}

.artifact.selected {
  border-color: limegreen;
}
